/*--------------------------------------------Colors*/




/*--------------------------------------------Body*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/442/432/non_2x/christmas-winter-border-background-free-vector.jpg);
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
}


/*--------------------------------------------NavBar*/
nav {
    background-image: url(https://thumbs.dreamstime.com/b/abstract-holiday-new-year-merry-christmas-border-transparent-background-vector-illustration-eps-130860708.jpg);
}

.brand-logo {
    font-weight: 800;
    text-shadow:
    4px 0 black,
    0 4px black,
    -2px 0 black,
    0 -2px black;
}

nav ul a {
    color: #ffc107;
    font-weight: 800;
    text-shadow:
    4px 0 black,
    0 4px black,
    -2px 0 black,
    0 -2px black;
    font-size: larger;
}


/*--------------------------------------------Landing page*/
.red-text {
    font-weight: 500;
    margin-top: 0px;
}


/*--------------------------------------------Footer*/
footer {
    background-image: url(https://thumbs.dreamstime.com/b/abstract-holiday-new-year-merry-christmas-border-transparent-background-vector-illustration-eps-130860708.jpg);
}