/*--------------------------------------------Colors*/




/*--------------------------------------------Body*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/442/432/non_2x/christmas-winter-border-background-free-vector.jpg);
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
}


/*--------------------------------------------NavBar*/
nav {
    background-image: url(https://thumbs.dreamstime.com/b/abstract-holiday-new-year-merry-christmas-border-transparent-background-vector-illustration-eps-130860708.jpg);
}

.brand-logo {
    font-weight: 800;
    text-shadow:
        4px 0 black,
        0 4px black,
        -2px 0 black,
        0 -2px black;
}

nav ul a {
    color: #ffc107;
    font-weight: 800;
    text-shadow:
        4px 0 black,
        0 4px black,
        -2px 0 black,
        0 -2px black;
    font-size: larger;
}


/*--------------------------------------------Landing page*/
.red-text {
    font-weight: 600;
    margin-top: 0px;
}

div.card-reveal {
    background-image: url(https://pics.craiyon.com/2023-10-08/2a6772ad003a49428d61e31b24dc3927.webp);
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffc107;
    font-weight: 800;
    text-shadow:
        4px 0 black,
        0 4px black,
        -2px 0 black,
        0 -2px black;
        font-size: 50px;
}


/*--------------------------------------------Footer*/

div.container,
a.right {
    color: #ffc107;
    font-weight: 800;
    text-shadow:
        4px 0 black,
        0 4px black,
        -2px 0 black,
        0 -2px black;
    font-size: larger;
}

footer {
    background-image: url(https://thumbs.dreamstime.com/b/abstract-holiday-new-year-merry-christmas-border-transparent-background-vector-illustration-eps-130860708.jpg);
}

/*--------------------------------------------Modal*/
div.modal-content {
    background-image: url(https://pics.craiyon.com/2023-10-08/2a6772ad003a49428d61e31b24dc3927.webp);
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-weight: 200;
    text-shadow:
        -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;
    font-size: 20px;
}

div.modal-footer {
    background-image: url(https://thumbs.dreamstime.com/b/abstract-holiday-new-year-merry-christmas-border-transparent-background-vector-illustration-eps-130860708.jpg);
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffc107;
    font-weight: 800;
    font-size: 30px;
}

a.modal-close.waves-effect.waves-green.btn-flat {
    color: #ffc107;
    text-shadow:
        1px 0 black,
        0 2px black,
        -1px 0 black,
        0 -2px black;
    font-weight: 800;
    font-size: 30px;
}


/*--------------------------------------------My list's page*/
h3.center-align.list-header {
    color: #ffc107;
    text-shadow:
        2px 0 black,
        0 2px black,
        -2px 0 black,
        0 -2px black;
    font-weight: 800;
    font-size: 50px;
}

.card .card-image .card-title {
    color: #ffc107;
    text-shadow:
        2px 0 black,
        0 2px black,
        -2px 0 black,
        0 -2px black;
    font-weight: 800;
    font-size: 30px;
}

strong.list-header {
    color: #ffc107;
    text-shadow:
        1px 0 black,
        0 2px black,
        -1px 0 black,
        0 -2px black;
    font-weight: 900;
    font-size: 25px;
}

h4.center-align.list-header {
    color: #ffc107;
    text-shadow:
        2px 0 black,
        0 2px black,
        -2px 0 black,
        0 -2px black;
    font-weight: 600;
    font-size: 35px;
}

/*--------------------------------------------Media Queries*/
@media only screen and (min-width: 320px) and (max-width: 400px) {

    /*--------------------------------------------Nav*/
    a.brand-logo.amber-text {
        font-weight: 600;
        font-size: 21px;
    }

    /*--------------------------------------------mainpaage*/
    h3.center-align.list-header {
        font-weight: 600;
        font-size: 35px;
    }

}

@media only screen and (min-width: 401px) and (max-width: 407px) {
    a.brand-logo.amber-text {
        font-weight: 600;
        font-size: 21px;
    }
}

@media only screen and (min-width: 407px) and (max-width: 452px) {

    /*--------------------------------------------Nav*/
    a.brand-logo.amber-text {
        font-weight: 600;
        font-size: 28px;
    }

    /*--------------------------------------------mainpaage*/
    h3.center-align.list-header {
        font-weight: 600;
        font-size: 35px;
    }
}

@media only screen and (min-width: 453px) and (max-width: 465px) {

    /*--------------------------------------------Nav*/
    a.brand-logo.amber-text {
        font-weight: 600;
        font-size: 28px;
    }

    /*--------------------------------------------mainpaage*/
    h3.center-align.list-header {
        font-weight: 600;
        font-size: 35px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    /*--------------------------------------------mainpaage*/

    .card .card-image .card-title {
        font-weight: 800;
        font-size: 30px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
    /*--------------------------------------------mainpaage*/

    .card .card-image .card-title {
        font-weight: 800;
        font-size: 20px;
    }
}