{% extends "base.html" %}
{% block content %}


<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_list') }}">
        <!-- task name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="list_name" name="list_name" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="list_name">List Name</label>
            </div>
            <!-- due date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                <label for="due_date">Due Date</label>
            </div>
        </div>
        <!-- Christmas List -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="user_christmas_list" name="user_christmas_list" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="user_christmas_list">What would you like for Christmas?</label>
                <small class="form-text text-muted">
                    Enter each item on a new line.
                </small>
            </div>
        </div>
        <!-- Letter to Samta -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="letter_to_santa">
                        <input id="letter_to_santa" name="letter_to_santa" type="checkbox">
                        <span class="lever"></span>
                        Will you write a letter to santa?
                    </label>
                </div>
            </div>
        </div>
        <!-- Milk and Cookies -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="milk_and_cookies">
                        <input id="milk_and_cookies" name="milk_and_cookies" type="checkbox">
                        <span class="lever"></span>
                        Will you be leaving milk and cookies?
                    </label>
                </div>
            </div>
        </div>
         <!-- Christmas List -->
         <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="favourite_reindeer" name="favourite_reindeer" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="favourite_reindeer">Who is your favourite reindeer?</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Send list to the North Pole <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}