<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Santas Helpers</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    {% if 'username' in session %}
                        <a href="{{ url_for('mainpage') }}" class="brand-logo amber-text">Santas Helpers!</a>
                    {% else %}
                        <a href="{{ url_for('home') }}" class="brand-logo amber-text">Santas Helpers!</a>
                    {% endif %}
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if 'username' in session %}
                            <li><a href="{{ url_for('mainpage') }}">Home</a></li>
                        {% else %}
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('my_list') }}">My List</a></li>
                        <li><a href="{{ url_for('search') }}">Search</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">New Task</a></li>
            <li><a href="">Categories</a></li>
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer red darken-2">
        <div class="footer-copyright">
            <div class="container">
                For educational purposes only
                <a class="white-text right" href="https://codeinstitute.net" target="_blank">&copy; Code Institute</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>