{% extends "base.html" %}
{% block content %}


< <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
            src="https://t4.ftcdn.net/jpg/06/37/40/49/360_F_637404905_5Fl5lRTykkau999Bld5kGAuyAB8tRIzs.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Grace got her christmas wish after writing her list<i
                class="fas fa-solid fa-plus right"></i></span>
        <p>Press the + to see Grace's christmas list</p>

        <div class="card-action">
            <a href="{{ url_for('register_user') }}" class="btn-large green darken-4">Register</a>
            <a href="{{ url_for('sign_in') }}" class="btn-large red">Sign in</a>
        </div>

    </div>
    <div class="card-reveal">
        <span class="card-title">Check list<i class="material-icons right">close</i></span>
        <ul id="landing-page">
            <li>Bike</li>
            <li>Teddy's</li>
            <li>Lego</li>
            <li>Funko pops</li>
            <li>Scooter</li>
            <li>Gabby's Doll house</li>
            <li>Painting set</li>
            <li>Baby dolls and pram</li>
            <li>Red Ryder, carbine action, two-hundred shot range model air rifle</li>
            <li>Nerf guns</li>
            <li>Phone</li>
        </ul>
    </div>
    </div>


    <div class="row">
        <div class="col s12">
            <h3 class="red-text text-darken-2 center-align"> <i class="fas fa-solid fa-users"></i> Register/Sign in to make your wish list today!
            </h3>
        </div>
    </div>

    


    {% endblock %}